.mediaViewInfo {
	--web-view-name: a_ecb_01;
	--web-view-id: a_ecb_01;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: a_ecb_01;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#a_ecb_01 {
	position: absolute;
	width: 1920px;
	height: 2237px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: a_ecb_01;
	--web-view-id: a_ecb_01;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Rectangle_cn {
	fill: rgba(240,240,240,1);
	stroke: rgba(247,247,247,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_cn {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 2150px;
	left: 0px;
	top: 87px;
}
#Group_cn {
	position: absolute;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Rectangle_coa {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_coa {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
}
#Raspberry_Pi_Cooks_Mission_cn {
	left: 663px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 42px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#n_53_cn {
	fill: rgba(255,255,255,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 16px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_53_cn {
	position: absolute;
	overflow: visible;
	width: 1500px;
	height: 1661px;
	left: 210px;
	top: 216px;
}
#n_54_cn {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_54_cn {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 70px;
	left: 210px;
	top: 147px;
}
#Text_cn {
	left: 225px;
	top: 173px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 34px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(48,48,48,1);
}
#n____URL__URLhttpsakizukidensh {
	left: 464px;
	top: 398px;
	position: absolute;
	overflow: visible;
	width: 994px;
	height: 282px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(25,25,25,1);
}
#Text_coa {
	left: 464px;
	top: 299px;
	position: absolute;
	overflow: visible;
	width: 449px;
	height: 39px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(25,25,25,1);
}
#n_93_coa {
	position: absolute;
	width: 257px;
	height: 88px;
	left: 1133px;
	top: 1579px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: a_ecb_0c.html;
	cursor: pointer;
	padding: 0px;
}
#n_113_cob {
	position: absolute;
	width: 257px;
	height: 88px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_81_coc {
	fill: rgba(220,106,154,1);
}
.n_81_coc {
	position: absolute;
	overflow: visible;
	width: 257px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Mission_Complete_cod {
	left: 7px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 35px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_coe {
	position: absolute;
	width: 927px;
	height: 842px;
	left: 497px;
	top: 680px;
	overflow: visible;
}
#n_218_cof {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 30px;
	top: 19px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: a_ecb_00.html;
	cursor: pointer;
}
#n_60_cog {
	fill: rgba(255,255,255,1);
}
.n_60_cog {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_211_coh {
	position: absolute;
	width: 15.047px;
	height: 18.367px;
	left: 14.953px;
	top: 15.816px;
	overflow: visible;
}
#n_48_coi {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_48_coi {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,-4.3436) rotate(240deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_49_coj {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_49_coj {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,5.3364) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}