.mediaViewInfo {
	--web-view-name: a_os_02;
	--web-view-id: a_os_02;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: a_os_02;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#a_os_02 {
	position: absolute;
	width: 1920px;
	height: 1722px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: a_os_02;
	--web-view-id: a_os_02;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Rectangle_cru {
	fill: rgba(240,240,240,1);
	stroke: rgba(247,247,247,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_cru {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1635px;
	left: 0px;
	top: 87px;
}
#Group_crv {
	position: absolute;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Rectangle_crw {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_crw {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
}
#Raspberry_Pi_Cooks_Mission_crx {
	left: 663px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 42px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#n_53_cry {
	fill: rgba(255,255,255,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 16px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_53_cry {
	position: absolute;
	overflow: visible;
	width: 1500px;
	height: 1146px;
	left: 210px;
	top: 216px;
}
#n_54_crz {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_54_crz {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 70px;
	left: 210px;
	top: 147px;
}
#Text_cr {
	left: 225px;
	top: 173px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 34px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(48,48,48,1);
}
#OS____Raspberry_Pi_ImagerURLUR {
	left: 464px;
	top: 398px;
	position: absolute;
	overflow: visible;
	width: 994px;
	height: 666px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(25,25,25,1);
}
#OS_2 {
	left: 464px;
	top: 299px;
	position: absolute;
	overflow: visible;
	width: 504px;
	height: 39px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(25,25,25,1);
}
#n_132 {
	position: absolute;
	width: 257px;
	height: 88px;
	left: 1153px;
	top: 1064px;
	overflow: visible;
}
#n_81_cr {
	fill: rgba(220,106,154,1);
}
.n_81_cr {
	position: absolute;
	overflow: visible;
	width: 257px;
	height: 88px;
	left: 0px;
	top: 0px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: a_os_0c.html;
	cursor: pointer;
}
#Mission_Complete_cr {
	left: 7px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 35px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#n_218_cr {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 30px;
	top: 19px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: a_os_01.html;
	cursor: pointer;
}
#n_60_cr {
	fill: rgba(255,255,255,1);
}
.n_60_cr {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_211_cr {
	position: absolute;
	width: 15.047px;
	height: 18.367px;
	left: 14.953px;
	top: 15.816px;
	overflow: visible;
}
#n_48_cr {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_48_cr {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,-4.3436) rotate(240deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_49_csa {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_49_csa {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,5.3364) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}