.mediaViewInfo {
	--web-view-name: a_os_0m;
	--web-view-id: a_os_0m;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: a_os_0m;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#a_os_0m {
	position: absolute;
	width: 1920px;
	height: 1764px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: a_os_0m;
	--web-view-id: a_os_0m;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
#Rectangle_cp {
	fill: rgba(240,240,240,1);
	stroke: rgba(247,247,247,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_cp {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1677px;
	left: 0px;
	top: 87px;
}
#Group_cp {
	position: absolute;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Rectangle_cqa {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_cqa {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
}
#Raspberry_Pi_Cooks_Mission_cp {
	left: 663px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 42px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#n_53_cp {
	fill: rgba(255,255,255,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 16px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_53_cp {
	position: absolute;
	overflow: visible;
	width: 1500px;
	height: 1188px;
	left: 210px;
	top: 216px;
}
#n_54_cp {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_54_cp {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 70px;
	left: 210px;
	top: 147px;
}
#Text_cqa {
	left: 225px;
	top: 173px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 34px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(48,48,48,1);
}
#Text_cqb {
	left: 464px;
	top: 398px;
	position: absolute;
	overflow: visible;
	width: 994px;
	height: 26px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(25,25,25,1);
}
#OS {
	left: 464px;
	top: 299px;
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 39px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(25,25,25,1);
}
#n_133_cqd {
	position: absolute;
	width: 257px;
	height: 88px;
	left: 1153px;
	top: 1106px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: a_os_00.html;
	cursor: pointer;
}
#n_81_cqe {
	fill: rgba(220,106,154,1);
}
.n_81_cqe {
	position: absolute;
	overflow: visible;
	width: 257px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Text_cqf {
	left: 0px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 42px;
	text-align: center;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#n_022-12-13_1 {
	position: absolute;
	width: 838px;
	height: 565px;
	left: 541px;
	top: 484px;
	overflow: visible;
}
#n_218_cqh {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 30px;
	top: 19px;
	overflow: visible;
}
#n_60_cqi {
	fill: rgba(255,255,255,1);
}
.n_60_cqi {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_211_cqj {
	position: absolute;
	width: 15.047px;
	height: 18.367px;
	left: 14.953px;
	top: 15.816px;
	overflow: visible;
}
#n_48_cqk {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_48_cqk {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,-4.3436) rotate(240deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_49_cql {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_49_cql {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,5.3364) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}