.mediaViewInfo {
	--web-view-name: a_welcome_0m;
	--web-view-id: a_welcome_0m;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: a_welcome_0m;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#a_welcome_0m {
	position: absolute;
	width: 1920px;
	height: 1764px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: a_welcome_0m;
	--web-view-id: a_welcome_0m;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
#Rectangle_ {
	fill: rgba(240,240,240,1);
	stroke: rgba(247,247,247,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_ {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1677px;
	left: 0px;
	top: 87px;
}
#Group_ban {
	position: absolute;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Rectangle_a {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_a {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 87px;
	left: 0px;
	top: 0px;
}
#Raspberry_Pi_Cooks_Mission_ {
	left: 663px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 42px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
#n_53_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 16px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_53_ {
	position: absolute;
	overflow: visible;
	width: 1500px;
	height: 1188px;
	left: 210px;
	top: 217px;
}
#n_54_ {
	fill: rgba(220,106,154,1);
	stroke: rgba(220,106,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_54_ {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 70px;
	left: 210px;
	top: 147px;
}
#Text_ {
	left: 225px;
	top: 173px;
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 34px;
	text-align: left;
	font-family: UD Digi Kyokasho NP-B;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(48,48,48,1);
}
#Text_a {
	left: 464px;
	top: 398px;
	position: absolute;
	overflow: visible;
	width: 994px;
	height: 26px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(25,25,25,1);
}
#Text_b {
	left: 464px;
	top: 299px;
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 39px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(25,25,25,1);
}
#n_133 {
	position: absolute;
	width: 257px;
	height: 88px;
	left: 1153px;
	top: 1106px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: a_welcome_00.html;
	cursor: pointer;
}
#n_81 {
	fill: rgba(220,106,154,1);
}
.n_81 {
	position: absolute;
	overflow: visible;
	width: 257px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Text_f {
	left: 0px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 42px;
	text-align: center;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#n__Clipchamp_x264 {
	fill: transparent;
}
.n__Clipchamp_x264 {
	overflow: hidden;
	position: absolute;
	width: 993px;
	height: 558.563px;
	left: 463.5px;
	top: 484px;
	transform: matrix(1,0,0,1,0,0);
}
#n_218 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 30px;
	top: 19px;
	overflow: visible;
}
#n_60_h {
	fill: rgba(255,255,255,1);
}
.n_60_h {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_211 {
	position: absolute;
	width: 15.047px;
	height: 18.367px;
	left: 14.953px;
	top: 15.816px;
	overflow: visible;
}
#n_48_j {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_48_j {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,-4.3436) rotate(240deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_49 {
	fill: transparent;
	stroke: rgba(220,106,154,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_49 {
	overflow: visible;
	position: absolute;
	width: 0px;
	height: 17.374px;
	transform: translate(0px, 0px) matrix(1,0,0,1,7.5233,5.3364) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}